<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/output.css" rel="stylesheet">
    <title>Services de Traitement d'Images</title>
</head>

<body class="bg-gray-50">

    <div class="container mx-auto p-8">
        <h1 class="text-4xl font-bold text-center mb-12 text-gray-800">Bienvenue sur nos Services de Traitement d'Images
        </h1>

        <!-- Tool Selection Section -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Image Optimizer Button -->
            <div class="bg-white shadow-lg rounded-lg p-8 text-center transition transform hover:scale-105 cursor-pointer"
                onclick="window.location.href='/image-toolbox'">
                <div class="mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-blue-500 mx-auto" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 10h4l3-3m0 0l4 4m-4-4v12m9-9h-4l-3 3m0 0l-4-4m4 4v12" />
                    </svg>
                </div>
                <h2 class="text-2xl font-bold mb-2">Optimiseur d'Images</h2>
                <p class="text-gray-600">Compressez et optimisez vos images pour une utilisation optimale sur le web.
                </p>
            </div>

            <!-- Image Collage Maker Placeholder Button -->
            <div
                class="bg-white shadow-lg rounded-lg p-8 text-center transition transform hover:scale-105 cursor-pointer">
                <div class="mb-6">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-green-500 mx-auto" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 7h4l3 3m0 0l4-4m-4 4v9m0-9h4l3 3m0 0l4-4m-4 4v9" />
                    </svg>
                </div>
                <h2 class="text-2xl font-bold mb-2">Assemblage d'Images</h2>
                <p class="text-gray-600">Créez des collages avec vos photos préférées. Disponible bientôt.</p>
            </div>
        </div>
    </div>

</body>

</html>